<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=MSDAORA;Data Source=VMFG;Persist Security Info=True;Password=MIS0015;User ID=SYSADM" providerName="System.Data.OleDb"/>
    <add name="ConnectionString2" connectionString="User ID=sysadm;Data Source=VMFG;Password=MIS0015" providerName="System.Data.OracleClient"/>
    <!--add name="ConnectionString" connectionString="Provider=MSDAORA;Data Source=itsc250;Persist Security Info=True;Password=itsc;User ID=itsc" 
      providerName="System.Data.OleDb"/-->
    <add name="ConnectionString3" connectionString="Data Source=FPCVMFG;User ID=SYSADM;Password=!@#123QWEASD;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="conn" value="Provider=MSDAORA;User ID=SYSADM;Data Source=VMFG;Password=MIS0015"/>
    <add key="MailServer" value="10.70.65.64"/>
    <add key="test.Service" value="http://10.112.14.21/WebSite8/Service.asmx"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>

    <!--表單名稱設定-->
    <add key="FromMail" value="UFKS_ERP@FPC.UNIMICRON.COM"></add>
    <!--郵件服務器設定-->
    <add key="SMTPServer" value="10.80.65.14"></add>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" defaultLanguage="vb" targetFramework="4.0">
      <assemblies>
        <add assembly="AjaxControlToolkit, Version=1.0.11119.20010, Culture=neutral, PublicKeyToken=28F01B0E84B6D53E"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.OracleClient, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <customErrors mode="Off"/>
    <!--  驗證 
      
<customErrors mode="RemoteOnly"  defaultRedirect="ErrorPage.aspx" />
    -->
    <!-- <identity impersonate="true" userName="uniflex-ks\b04086" password="nimda123!"/> -->
    <!--<identity impersonate="true" userName="UNIFLEX-KS\Tommy" password="Zp12345"/>-->
    <!--<identity impersonate="true" userName="UNIMICRON\ZHIQIANGWANG" password="dennyAlice2008"/>-->
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="60"/>
    </authentication>
    <!-- 
    <authorization>
      <deny users="?"/>
    </authorization>
    -->
    <trace enabled="false" requestLimit="20" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

    <!--<globalization requestEncoding="gb2312" responseEncoding="gb2312" fileEncoding="gb2312" culture="zh-CN"/>-->
    <httpRuntime executionTimeout="90" maxRequestLength="100000" useFullyQualifiedRedirectUrl="false"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>